

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


header {
  background-color: linen;
  padding: 20px;
  text-align: center;

}


body{
background-color:#ffe6f2;
border: 7px dashed pink;
}


h1 {
  
  font-family: 'Mystery Quest', cursive;
  color:purple;
  text-align:center;
}

h2,h3,h4 {
  
  color:purple;
  text-align: center;
}


p {
  color: gray;
  text-align: center;
font-family: comic sans ms;
}




.nav {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color:linen;
}

.nav li{
  display: inline;
  font-size: x-large;
  font-family: comic sans ms;
   text-align: center;
}


.nav a {
  display: inline-block;
  color:purple;
font-family: comic sans ms;
  padding: 20px;
   text-align: center;
}

#map {
  height: 400px;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: linen;
  
}

li {
  float: center ;
}

li a {
  display: block;
  color: purple;
  text-align: right;
  padding: 20px 20px;
  text-decoration: none;
}

li a:hover:not(.active){
  background-color: orange;
}


div{
 text-align: center;	
	display:table-cell;
	vertical-align: middle;
	width : 3000px;
	height:30px ;
	border-radius: 25px;
	
}
